<div class="nav-bar">
   <% if @current_user %>
      <div class="logout">
         <%= link_to "Logout", session_path, method: :delete %>
      </div>
      <div>
         Logged in as&nbsp;<%= link_to @current_user.name, @current_user %>
      </div>
   <% end %>
</div>
