/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.nav-bar {
  top: 0;
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: skyblue;
  float: left;
  clear: both;
}

.nav-bar div {
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
}

.nav-bar div.logout {
  margin-left: 10px;
  margin-right: 10px;
}

.clearfix {
  float: left;
  clear: both;
}

.content .login {
  background-color: skyblue;
  margin: 300px auto;
  width: 300px;
  padding: 50px 40px;
  border-radius: 20px;
}

.content .login .form {
  display: table;
  margin: 0 auto;
}

.content {
  margin-top: 60px;
  width: 100%;
}

.tweets {
}

.tweets .tweet {
  width: 50%;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 0px 0px 10px;
  border-radius: 5px;
}

.tweets .body {
  margin-top: 10px;
  padding: 10px;
}

.tweets .header {
  padding: 5px;
  border-radius: 5px;
  background-color: grey;
}

.user {
}

.user .profile {
  float: left;
}

.user .profile ul li {
  margin-bottom: 10px;
  list-style: none;
}

.user .profile ul {
  margin: 0;
  margin-left: 40px;
  padding: 0;
}

